In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("VentasTabla.xlsx")

In [3]:
df.tail()

,Fecha,AMERICANA,AMERICANA LIGTH,ANANA,BANANA SPLIT,BANANITA DOLCA,CEREZA,CHEESSECAKE MARACUYA,CH AMARGO,CH BLANCO,...,SAMBAYON,TIRAMISU,TRAMONTANA,VAINILLA,VAINILLA NUTTY,CHOCOTORTA,FRAMBUESA,CHOCOLATE SHOT,DULCE DE LECHE LIGTH,VAINILLA LIGTH
69,2023-01-09,9.695,1.115,2.835,8.320,8.600,7.760,11.675,6.620,9.945,...,2.730,5.475,13.720,6.595,9.500,8.825,6.610,7.145,2.23,2.420
70,2023-01-16,2.125,3.480,6.425,3.605,4.825,4.340,5.760,9.065,6.235,...,8.745,7.895,5.600,10.330,6.055,4.720,3.050,5.655,2.06,2.420
71,2023-01-22,10.175,1.480,3.955,8.015,3.645,9.035,2.510,3.205,2.825,...,6.015,4.175,4.595,8.990,3.710,8.480,12.445,5.255,1.28,2.190
72,2023-01-30,5.785,2.800,8.450,2.960,7.465,6.240,3.765,7.250,7.445,...,3.750,7.605,5.340,5.915,8.655,4.395,10.320,3.950,1.12,2.180
73,2023-02-05,11.145,0.000,5.935,6.755,3.370,2.670,4.880,10.210,4.110,...,8.140,2.985,12.250,12.325,6.970,8.665,6.840,8.410,4.64,1.945

In [4]:
def agrupar_mensual(data):
    df = data.copy()
    #df.set_index('Fecha')
    return df.groupby(pd.Grouper(key='Fecha', freq='M')).sum()
    
def venta_anual(df, helado):
    return df[helado].sum()

def venta_sort(data, fecha):
    df = data.set_index('Fecha')
    df = df.loc[fecha]
    return df.sort_values(ascending = False)

In [5]:
df

,Fecha,AMERICANA,AMERICANA LIGTH,ANANA,BANANA SPLIT,BANANITA DOLCA,CEREZA,CHEESSECAKE MARACUYA,CH AMARGO,CH BLANCO,...,SAMBAYON,TIRAMISU,TRAMONTANA,VAINILLA,VAINILLA NUTTY,CHOCOTORTA,FRAMBUESA,CHOCOLATE SHOT,DULCE DE LECHE LIGTH,VAINILLA LIGTH
0,2021-10-29,13.955,3.320,5.185,12.655,12.850,12.840,6.425,14.430,6.510,...,14.775,6.780,12.375,13.430,14.020,0.000,5.525,12.395,0.00,0.000
1,2021-10-31,11.865,3.315,4.620,11.845,10.540,11.160,5.880,12.560,5.455,...,14.360,5.850,10.520,13.020,13.285,0.000,4.895,11.105,0.00,0.000
2,2021-11-04,11.440,3.315,4.235,11.280,10.975,10.465,5.335,11.725,5.430,...,14.005,5.300,9.405,12.545,12.975,0.000,4.610,10.655,0.00,0.000
3,2021-11-07,9.795,3.100,3.545,10.395,9.795,8.035,4.055,9.755,4.495,...,13.045,4.010,7.395,11.745,12.920,0.000,3.650,10.215,0.00,0.000
4,2021-11-11,9.670,3.075,8.700,10.180,9.855,14.485,3.605,10.230,4.055,...,12.690,3.750,14.405,11.820,12.780,0.000,3.305,9.825,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2023-01-09,9.695,1.115,2.835,8.320,8.600,7.760,11.675,6.620,9.945,...,2.730,5.475,13.720,6.595,9.500,8.825,6.610,7.145,2.23,2.420
70,2023-01-16,2.125,3.480,6.425,3.605,4.825,4.340,5.760,9.065,6.235,...,8.745,7.895,5.600,10.330,6.055,4.720,3.050,5.655,2.06,2.420
71,2023-01-22,10.175,1.480,3.955,8.015,3.645,9.035,2.510,3.205,2.825,...,6.015,4.175,4.595,8.990,3.710,8.480,12.445,5.255,1.28,2.190
72,2023-01-30,5.785,2.800,8.450,2.960,7.465,6.240,3.765,7.250,7.445,...,3.750,7.605,5.340,5.915,8.655,4.395,10.320,3.950,1.12,2.180
73,2023-02-05,11.145,0.000,5.935,6.755,3.370,2.670,4.880,10.210,4.110,...,8.140,2.985,12.250,12.325,6.970,8.665,6.840,8.410,4.64,1.945

In [6]:
j = venta_sort(df, '2023-02-05')
j

CH CHUII                17.245
DL CHUII                16.430
CH ROCHER               14.730
FRUTOS DEL BOSQUE       14.420
KINDER                  14.395
LIMON                   13.730
DL                      12.410
VAINILLA                12.325
TRAMONTANA              12.250
CH CON ALMENDRAS        11.920
AMERICANA               11.145
CH AMARGO               10.210
DL con NUEZ              9.365
DL GRANIZADO             9.305
MANTECOL                 9.240
FLAN C DL                8.970
CHOCOLATE                8.890
CHOCOTORTA               8.665
GRANIZADO                8.655
PISTACHO                 8.430
CHOCOLATE SHOT           8.410
COOKIES                  8.215
SAMBAYON                 8.140
DL CON BROWNIES          8.015
MENTA GRANIZADA          7.620
MANDARINA                7.420
VAINILLA NUTTY           6.970
DURAZNO                  6.870
FRAMBUESA                6.840
BANANA SPLIT             6.755
ANANA                    5.935
MASC FRUTOSROJOS         5.625
CH SUIZO                 5.395
MOUSE DE CH              5.325
CH LIGTH                 5.000
CREMA IRLANDESA          4.965
CHEESSECAKE MARACUYA     4.880
RUSA                     4.840
PERA                     4.710
DULCE DE LECHE LIGTH     4.640
COCO C DL                4.470
CH BLANCO                4.110
POMELO                   3.910
FRUTILLA                 3.610
BANANITA DOLCA           3.370
QUINOTOS                 3.010
TIRAMISU                 2.985
MOUSSE DE LIMON          2.740
CEREZA                   2.670
VAINILLA   LIGTH         1.945
MOUSSE MARACUYA          0.000
AMERICANA LIGTH          0.000
DOLCE DE LA NONA         0.000
Name: 2023-02-05 00:00:00, dtype: float64

In [7]:
sem = venta_sort(df, '2021-10-29')

In [8]:
sem

DL CHUII                19.710
SAMBAYON                14.775
CH AMARGO               14.430
KINDER                  14.135
VAINILLA NUTTY          14.020
AMERICANA               13.955
CH CHUII                13.935
CH SUIZO                13.780
DL GRANIZADO            13.725
FLAN C DL               13.650
CH CON ALMENDRAS        13.500
VAINILLA                13.430
MENTA GRANIZADA         13.420
COOKIES                 13.385
GRANIZADO               13.365
DL CON BROWNIES         13.310
MOUSE DE CH             13.190
MANTECOL                13.180
DL                      13.075
CH ROCHER               12.985
BANANITA DOLCA          12.850
CEREZA                  12.840
FRUTILLA                12.660
BANANA SPLIT            12.655
CHOCOLATE               12.630
MASC FRUTOSROJOS        12.540
CHOCOLATE SHOT          12.395
TRAMONTANA              12.375
MOUSSE DE LIMON         12.115
DL con NUEZ             11.395
LIMON                   11.230
FRUTOS DEL BOSQUE        7.155
TIRAMISU                 6.780
MOUSSE MARACUYA          6.765
PISTACHO                 6.695
QUINOTOS                 6.590
CH BLANCO                6.510
CHEESSECAKE MARACUYA     6.425
CREMA IRLANDESA          6.385
COCO C DL                6.380
RUSA                     6.120
DOLCE DE LA NONA         6.000
PERA                     5.765
MANDARINA                5.575
FRAMBUESA                5.525
DURAZNO                  5.420
ANANA                    5.185
POMELO                   4.360
CH LIGTH                 3.520
AMERICANA LIGTH          3.320
CHOCOTORTA               0.000
DULCE DE LECHE LIGTH     0.000
VAINILLA   LIGTH         0.000
Name: 2021-10-29 00:00:00, dtype: float64

In [9]:
mes = agrupar_mensual(df)
mes.reset_index(inplace=True)

In [12]:
mes

,Fecha,AMERICANA,AMERICANA LIGTH,ANANA,BANANA SPLIT,BANANITA DOLCA,CEREZA,CHEESSECAKE MARACUYA,CH AMARGO,CH BLANCO,...,SAMBAYON,TIRAMISU,TRAMONTANA,VAINILLA,VAINILLA NUTTY,CHOCOTORTA,FRAMBUESA,CHOCOLATE SHOT,DULCE DE LECHE LIGTH,VAINILLA LIGTH
0,2021-10-31,25.820,6.635,9.805,24.500,23.390,24.000,12.305,26.990,11.965,...,29.135,12.630,22.895,26.450,27.305,0.000,10.420,23.500,0.000,0.000
1,2021-11-30,73.490,28.010,75.740,79.875,76.985,97.390,61.340,112.410,46.550,...,102.955,47.410,101.100,84.560,99.645,0.000,47.025,62.380,0.000,0.000
2,2021-12-31,33.710,22.450,49.320,23.265,38.495,31.925,38.035,50.195,34.320,...,40.995,35.595,53.345,20.720,43.323,0.000,17.845,25.880,0.000,0.000
3,2022-01-31,20.235,6.690,22.240,26.960,19.350,16.325,32.630,18.490,24.510,...,17.940,21.680,48.820,20.165,24.740,0.000,11.420,4.060,0.000,0.000
4,2022-02-28,30.695,9.465,24.910,27.945,25.390,38.600,35.110,24.400,24.285,...,21.040,23.680,34.029,30.060,35.655,0.000,4.680,19.360,0.000,0.000
5,2022-03-31,33.890,8.865,19.385,36.850,44.300,39.490,25.450,29.125,27.725,...,47.300,38.860,50.435,43.890,52.915,0.000,25.060,0.000,0.000,0.000
6,2022-04-30,23.630,11.235,9.565,18.715,16.230,26.020,15.040,16.205,14.730,...,21.185,8.185,33.075,14.685,15.310,0.000,8.075,0.000,0.000,0.000
7,2022-05-31,22.010,11.015,33.990,33.455,43.395,42.620,26.175,23.910,25.815,...,24.010,23.585,42.075,25.790,38.675,39.395,0.000,0.000,0.000,0.000
8,2022-06-30,30.700,12.710,18.795,22.755,20.330,30.575,16.245,27.010,27.845,...,37.425,27.815,44.010,20.575,13.780,18.540,3.835,24.630,0.000,0.000
9,2022-07-31,32.740,7.525,23.945,29.940,34.320,31.995,23.610,37.195,26.645,...,31.335,28.010,37.070,33.075,17.280,27.510,26.845,46.135,0.000,0.000
10,2022-08-31,17.675,3.255,15.025,32.500,28.950,30.875,34.805,32.540,19.025,...,22.570,27.955,41.055,22.420,20.160,34.560,25.450,28.530,0.000,0.000
11,2022-09-30,26.740,30.880,16.865,27.020,31.510,21.750,24.840,27.730,23.210,...,23.180,25.595,30.545,26.400,27.135,28.560,19.440,15.575,9.590,10.650
12,2022-10-31,33.715,30.220,33.530,38.825,25.055,46.585,34.295,40.890,32.445,...,26.845,45.135,38.060,23.290,25.985,25.030,34.690,21.675,14.875,9.825
13,2022-11-30,14.430,16.530,26.380,23.200,30.155,15.880,19.615,25.120,27.105,...,19.735,30.965,24.365,23.410,17.465,24.175,28.335,29.680,7.830,8.860
14,2022-12-31,28.180,11.650,26.595,28.550,25.815,28.225,20.240,25.405,40.190,...,18.670,30.585,39.925,38.215,22.340,27.665,22.330,20.595,7.540,7.460
15,2023-01-31,35.145,10.625,27.340,28.235,30.290,31.800,28.190,32.395,33.005,...,25.965,34.825,37.715,41.865,33.050,37.550,36.525,29.890,9.720,11.820
16,2023-02-28,11.145,0.000,5.935,6.755,3.370,2.670,4.880,10.210,4.110,...,8.140,2.985,12.250,12.325,6.970,8.665,6.840,8.410,4.640,1.945

In [10]:
m = venta_sort(mes, '2023-02-28')

In [11]:
m

CH CHUII                17.245
DL CHUII                16.430
CH ROCHER               14.730
FRUTOS DEL BOSQUE       14.420
KINDER                  14.395
LIMON                   13.730
DL                      12.410
VAINILLA                12.325
TRAMONTANA              12.250
CH CON ALMENDRAS        11.920
AMERICANA               11.145
CH AMARGO               10.210
DL con NUEZ              9.365
DL GRANIZADO             9.305
MANTECOL                 9.240
FLAN C DL                8.970
CHOCOLATE                8.890
CHOCOTORTA               8.665
GRANIZADO                8.655
PISTACHO                 8.430
CHOCOLATE SHOT           8.410
COOKIES                  8.215
SAMBAYON                 8.140
DL CON BROWNIES          8.015
MENTA GRANIZADA          7.620
MANDARINA                7.420
VAINILLA NUTTY           6.970
DURAZNO                  6.870
FRAMBUESA                6.840
BANANA SPLIT             6.755
ANANA                    5.935
MASC FRUTOSROJOS         5.625
CH SUIZO                 5.395
MOUSE DE CH              5.325
CH LIGTH                 5.000
CREMA IRLANDESA          4.965
CHEESSECAKE MARACUYA     4.880
RUSA                     4.840
PERA                     4.710
DULCE DE LECHE LIGTH     4.640
COCO C DL                4.470
CH BLANCO                4.110
POMELO                   3.910
FRUTILLA                 3.610
BANANITA DOLCA           3.370
QUINOTOS                 3.010
TIRAMISU                 2.985
MOUSSE DE LIMON          2.740
CEREZA                   2.670
VAINILLA   LIGTH         1.945
MOUSSE MARACUYA          0.000
AMERICANA LIGTH          0.000
DOLCE DE LA NONA         0.000
Name: 2023-02-28 00:00:00, dtype: float64